:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent1: #e36414;
  --accent2: #78cad2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2 {
  font-family: 'Georgia', sans-serif;
  color: #e36414;
  margin-bottom: 10px;
  margin-left: 10px;
}

p {
  font-family: 'Times New Roman', Times;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
  color: #333;
  margin-left: 10px;
}

.sociallink a {
  text-decoration: none;
}

.sociallink img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
}

.hero img{
  display: block;
  width: 100px;
  height: auto;
}

.hero article   {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  margin: 15%;
  text-align: center;
  background-color: rgba(16, 31, 70, 0.6);
  padding: 20px 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero article p {
  color: rgb(254, 251, 253);
  font-size: 1.5rem;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(34, 10, 10, 0.329);
  padding: 30px 650px;
  white-space: nowrap;
}

.hero article img {
  float: right;
  margin: 0 0 10px 10px;
  width: 40%;
  height: auto;
}

.article p {
  text-align: justify;
}


.section p {
  font-family: 'Times New Roman', Times;
  font-size: 18px;
  color: #1f1111;
}

.adventure-images img {
  width: 900px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3a575c;
  margin-bottom: 20px;
  

}


.navigation {
  display: flex;
  gap: 20px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #f4f4f4;
  background-color: #6b2c2c;
  padding: 5px 10px;
  border: 2px solid brown;
  font-size: 1.5rem;
  text-align: center;
}

.header .logo {
  position: relative;
  margin-left: 90px;
  width: 60px;
}

.history-section {
  padding: 10px 5px;
  background-color: #f9f9f9;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.history-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
  color: #e36414;
}

.history-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.history-left, .history-right {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.history-description {
  font-size: 1.2rem;
  line-height: 1.6;
}

.history-image {
  flex: 2;
  text-align: center;
}

.history-image .img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.adventure {
  padding: 40px 20px;
  background-color: #b4f1fff5;
  text-align: center;
}

.adventure h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
  color: #e36414; 
}

.adventure-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  gap: 20px;
}

.figure {
  text-align: center;
  margin: 0;
  padding: 0;
}

 figure img {
  width: 100%;
  max-width: 150%;
  height: auto;
  width: 250px;
  height: 280px;
}

.figcaption {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #024b2c;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3a575c;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  height: 150px;
}

.site-footer p {
  color: white;
}

.site-footer p {
  margin: 0;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials img {
  width: 40px;
  height: 40px;
}